@media (min-width: 500px) {
  .company--list img {
    max-width: 70px;
  }
}

@media (min-width: 1024px) {
  .company--list {
    padding-left: 0;
    justify-content: start;
    margin: 3em 1em 0 1em;

    img {
      max-width: 90px;
    }
  }

  @media (min-width: 1300px) {
    .company--list {
      margin-top: auto;
    }
  }
}
