@import "../../../help/variables.scss";

.hero {
  height: 100vh;
  // .hero--img {
  //   width: 100%;
  // }
  .hero--background--img {
    background-image: url("/image-hero-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    height: 50%;
    // padding: 10em;
  }
  .hero--content {
    margin: 2rem 1rem;
    text-align: center;
    h1 {
      margin-top: 2em;
      font-weight: 800;
      font-size: 2rem;
    }
    p {
      color: 686868;
      line-height: 1.5;
      padding: 1em;
    }
    button {
      background-color: rgb(0, 0, 0);
      margin: 1.3em auto;
      display: block;
      color: #fafafa;
      padding: 1.1em 1.6em;
      font-weight: bold;
      border-radius: 18px;
      border: none;
      font-size: 1.1rem;
    }
  }
}
@media (min-width: 800px) {
  .hero {
    padding: 1.5em;
    display: flex;
    .hero--background--img {
      background-image: url("/image-hero-desktop.png");
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0 auto;
      min-width: 40%;
      height: 100%;
      background-position: right;
      order: 2;
      // padding: 1em;
    }
    .hero--content {
      padding: 0 2em;
      text-align: left;

      h1 {
        font-size: 5em;
        font-weight: 900;
        line-height: 1.2;
      }

      p {
        width: 60%;
        font-size: 1.125em;
        margin-left: 0;
        padding-left: 0;
      }
      button {
        margin-left: 0;
      }
    }
  }
}
