@import "../../../help/variables.scss";

.navbar--container {
  position: fixed;
  top: 0;
  right: 0;
  width: 65%;
  height: 100%;
  background: $backgroundWhite;
  z-index: 1;
  .close--btn {
    background-color: transparent;
    border: none;

    display: block;
    margin: 0.65em 0.65em 0.65em auto;
    font-size: 1.8rem;
  }
  .menu--container {
    padding-left: 1em;
    color: $mediumGrey;

    button {
      background-color: transparent;
      color: $mediumGrey;
      border: none;
      line-height: 1.625;
      margin-bottom: 1.2em;
      font-size: 1rem;
      display: block;
    }
    .dropdown--btn {
      display: flex;
      align-items: center;
    }
  }
}

.arrow--icon {
  margin-left: 0.5em;
}
.action--btn {
  display: block;
  margin: 1em auto;
  font-size: 1rem;
  background-color: transparent;
  padding: 0.8em 1.5em;
  width: 78%;
  border: none;
}

.register--btn {
  border: 1px solid $mediumGrey;
  border-radius: 15px;
}
@media (min-width: 800px) {
  .navbar--container {
    display: flex;
    position: static;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 4em;
    .menu--container {
      display: flex;
      padding-left: 0;
      button {
        margin-bottom: 0;
        margin-left: 3em;
        &:first-child {
          margin-left: 0.5em;
        }
      }
    }
  }
  .action--btn--container {
    display: flex;
  }
}
