@import "./help/variables.scss";

body {
  margin: 0 auto;
  font-family: $fontFamily;
  background-color: $backgroundWhite;
  box-sizing: border-box;
}
button {
  font-family: $fontFamily;
  cursor: pointer;
}

.app--container {
  position: relative;

  &.overlay--visible::before {
    content: "";
    position: fixed;
    top: 0;
    right: 65%; /* Width of the Navbar, adjust accordingly */
    width: 35%; /* Width of the remaining content */
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Greyish translucent color */
    z-index: 2;
  }
}
.company--list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1em;
  margin: 3em auto;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding: 0 2em;

  img {
    max-width: 65px;
  }
}

@media (min-width: 800px) {
  // .app--container {
  //   padding: 2em 3em;
  // }
}
